<template>
  <div class="navbar-buttons">
    <NavBarButton :title="'New Page'" :link="`${this.root}/-/new-page`" />
    <NavBarButton
      v-if="editorbutton == 'True'"
      :title="'Edit Page'"
      :link="editor_link"
    />
    <SettingsDropdown :root="root" />
  </div>
</template>
<script>
import NavBarButton from "./vue-components/NavBarButton.vue";
import SettingsDropdown from "./vue-components/SettingsDropdown.vue";
export default {
  components: {
    NavBarButton,
    SettingsDropdown
  },
  props: {
    root: {
      type: String,
      required: true
    },
    editorbutton: String,
    editor_link: String
  },
  data: function() {
    return {};
  },
  methods: {}
};
</script>
<style>
.navbar-buttons {
  display: flex;
  gap: 10px;
}

.d-none {
  display: none;
}

.navbar-button {
  cursor: pointer;
  font-size: 14px;
  background-color: #ececef;
  padding: 8px;
  padding-left: 8px;
  border-radius: 3px;
  padding-left: 14px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  outline: 2px solid rgba(0, 0, 0, 0.2);
  display: flex;
  width: 70px;
  height: 15px;
  line-height: 1;
}
.navbar-button:hover {
  opacity: 0.8;
}
</style>
