<template>
  <div id="container" ref="cont">
    <div id="top-bar">
      <div id="app-title">
        <img
          id="app-logo"
          src="/static/Logo/GitBuilding500x.png"
          alt="gitbuilding-icon"
        />
        <h1>GitBuilding</h1>
      </div>
    </div>
    <div id="body-container">
      <div id="left-project-bar">
        <button
          type="button"
          id="open-project-button"
          @click="showOpenProjectModal = true"
        >
          Open project
        </button>
        <button
          type="button"
          id="new-project-button"
          @click="showNewProjectDrawer = true"
        >
          New project
        </button>
      </div>
      <div id="projects-container">
        <h2>GitBuilding Projects</h2>
        <br />
        <div id="projects-wrap">
          <div id="projects-flex">
            <project-card
              v-for="(project, i) in projects"
              v-bind:key="'project-' + i"
              :cardNumber="i"
              :name="project.name"
              :editorStatus="project.editorStatus"
              :working_dir="project.working_dir"
              :editorName="project.editorName"
              @startEditor="startEditor"
              @removeCard="removeCard"
            />
          </div>
        </div>
      </div>
    </div>
    <NewProjectDrawer
      v-model="showNewProjectDrawer"
      @projectCreated="updateFromServer"
    />
    <Modal
      modal-class="project-modal"
      v-model="showOpenProjectModal"
      title="Open project..."
    >
      <div>Select project directory</div>
      <DirectoryViewer @selectionChanged="openSelectionChanged" />
      <div id="open-selection">
        <button
          :disabled="!this.openEnabled"
          @click="openProject(openSelection)"
        >
          Open
        </button>
        {{ openSelection }}
      </div>
    </Modal>
  </div>
</template>

<script>
import ProjectCard from "./ProjectCard.vue";
import NewProjectDrawer from "./NewProjectDrawer.vue";
import DirectoryViewer from "./DirectoryViewer.vue";
export default {
  name: "ProjectLauncher",

  components: { ProjectCard, NewProjectDrawer, DirectoryViewer },

  data() {
    return {
      projects: [],
      closed: 0,
      launching: 1,
      running: 2,
      showNewProjectDrawer: false,
      showOpenProjectModal: false,
      openSelection: "",
      openEnabled: true
    };
  },

  mounted() {},

  watch: {},

  methods: {
    updateFromServer() {
      this.$http.get("launcher/data").then(function(response) {
        this.projects = response.body.projects;
      });
    },
    openProject(path) {
      this.$http
        .post("launcher/open-project", {
          path: path
        })
        .then(response => {
          if (response.body.completed) {
            this.updateFromServer();
            this.showOpenProjectModal = false;
          } else {
            this.$fire({
              type: "error",
              text: "Couldn't open project",
              title: "Error",
              heightAuto: false
            });
          }
        })
        .catch(error => {
          console.error(error);
          this.$fire({
            type: "error",
            text: "Couldn't open project",
            title: "Error",
            heightAuto: false
          });
        });
    },
    startEditor(cardNumber) {
      this.projects[cardNumber].editorStatus = this.launching;
      this.$http
        .post("launcher/launch", {
          uuid: this.projects[cardNumber].uuid
        })
        .then(response => {
          if (response.body.launched) {
            this.projects[cardNumber].editorName = response.body.editorName;
            this.projects[cardNumber].editorStatus = this.running;
          } else {
            this.$fire({
              type: "error",
              text: "Couldn't open editor",
              title: "Error",
              heightAuto: false
            });
            this.projects[cardNumber].editorStatus = this.closed;
          }
        })
        .catch(error => {
          console.error(error);
          this.$fire({
            type: "error",
            text: "Couldn't open editor",
            title: "Error",
            heightAuto: false
          });
          this.projects[cardNumber].editorStatus = this.closed;
        });
    },
    removeCard(cardNumber) {
      this.$http
        .post("launcher/remove", {
          uuid: this.projects[cardNumber].uuid
        })
        .then(response => {
          if (response.body.completed) {
            this.updateFromServer();
          } else {
            this.$fire({
              type: "error",
              text: "Couldn't remove card",
              title: "Error",
              heightAuto: false
            });
          }
        })
        .catch(error => {
          console.error(error);
          this.$fire({
            type: "error",
            text: "Couldn't remove card",
            title: "Error",
            heightAuto: false
          });
        });
    },
    openSelectionChanged(selection) {
      if (selection.selectionType === "dir") {
        if (selection.currentPath === "") {
          this.openSelection = selection.selectionName;
        } else {
          this.openSelection =
            selection.currentPath + "/" + selection.selectionName;
        }
        this.openEnabled = true;
      } else if (selection.selectionType === "file") {
        this.openSelection = "Please select a folder not a file";
        this.openEnabled = false;
      } else {
        this.openSelection = selection.currentPath;
        this.openEnabled = true;
      }
    }
  },

  created() {
    this.updateFromServer();
  }
};
</script>

<style scoped>
#container {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#top-bar {
  flex: 0 1 auto;
  background: white;
  border-bottom: 1px solid gray;
  padding: 5px 10px;
}

#toolbar-controls {
  display: block;
  float: left;
}

#toolbar-text-buttons {
  display: flex;
  border: 1px solid gray;
  background: lightgray;
}

#app-title {
  display: flex;
}

#app-title h1 {
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
}

#app-logo {
  padding: 10px;
  width: 70px;
  height: 70px;
}

#body-container {
  display: flex;
  height: 100%;
}

#left-project-bar {
  background: rgb(235, 235, 235);
  height: 100%;
  width: 20%;
  max-width: 230px;
  min-width: 150px;
  border-right: 1px solid gray;
}

#left-project-bar button {
  width: calc(100% - 40px);
  height: 60px;
  border: none;
  font-size: large;
  font-weight: bold;
  color: #fff;
  border-radius: 8px;
  padding: 5px 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);

  margin: 20px 20px 0px 20px;
}

#open-project-button {
  background: #00d;
}

#new-project-button {
  background: #0a0;
}

#projects-container {
  margin: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
}
#projects-container h2 {
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
}
#projects-wrap {
  overflow: auto;
  height: 100%;
}
#projects-flex {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 120px;
}
</style>
<style>
.vm.project-modal {
  width: 80%;
  height: 80%;
  max-width: unset;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
}

.vm.project-modal .vm-content {
  height: 90%;
}

#open-selection {
  position: absolute;
  bottom: 15px;
  left: 35px;
}
</style>
