
<div class="gallery-thumb">
{% for image in images %}
    <img onmouseover="getElementById('gallery-show{{gallery_number}}').src=this.src" src="{{image[2]}}" alt="{{image[1]}}" />
{% endfor %}
</div>
<div class="gallery-show"><img id="gallery-show{{gallery_number}}" src="{{images[0][2]}}" alt="{{images[0][1]}}"/></div>