<template>
  <div id="app">
    <ConfigEditor />
  </div>
</template>

<script>
import ConfigEditor from "./components/ConfigEditor.vue";

export default {
  name: "ConfigApp",
  components: {
    ConfigEditor
  }
};
</script>

<style>
html,
body {
  margin: 0;
  overflow: hidden;
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #333;
}

#app {
  height: 100%;
}
</style>
